.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh; /* or 100vh for full screen */
  text-align: center;
}
.col-md-8  h1 {
    margin-top: 100px;
    margin-bottom: 50px;
    color: #0d6efd
}
.col-md-8  p{
    font-weight: 500;
}
.about-section img {
    width: 900px;
    height: 900px;
    margin-top: 400px;
    border-radius: 10px;
}