.nav-link {
  font-size: 1.25rem; /* 20px, adjust as needed */
  font-weight: 500;   /* optional: makes it slightly bolder */
}
.navbar-nav .nav-item {
  margin-left: 2rem;
  margin-right: 2rem;
}
.nav-link {
  position: relative;
  display: inline-block;
  color: #000;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #0d6efd;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: #0d6efd;
}
.hero-title {
  color: #00008B;
  margin-top: 150px;
  margin-bottom: 20px;
}
.hero-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
  color: #444;
  margin-bottom: 80px;
}
